@model Techbart.DB.Product

@{
    ViewBag.Title = "Details";

    var previewImage = default(Techbart.DB.Image);
    var images = default(List<Techbart.DB.Image>);

    if (ViewBag.PreviewImage != null)
    {
        previewImage = (Techbart.DB.Image)ViewBag.PreviewImage;
    }

    if (ViewBag.Images!=null)
    {
        images = (List<Techbart.DB.Image>)ViewBag.Images;
    }
}

<h2>Details</h2>

<div>
	<h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>

        <dd>
            @Html.ImageHelper(previewImage, Url, "upload-image-img")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd> 
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

		<dt class="product-photo">
			Product Photos:
		</dt>

        <dd>
        </dd>

        @foreach (var image in images)
        {
            <dt>
                Image #@image.ImageId
            </dt>

            <dd>
                @Html.ImageHelper(image, Url, "product-photo details")
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
