@model Techbart.DB.SearchProductModel

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table class="table">
	<thead>
		<tr id="search">
			<th class="findid-box">
				@Html.LabelFor(model => model.ProductId,new { name = "ProductId", @class = "active desc" })
				<input class="form-control text-box single-line search findid-box" data-val="true" name="ProductId" type="number">
			</th>
			<th>
				@Html.LabelFor(model => model.ProductName, new { name = "ProductName" })
				<input class="form-control text-box single-line search" data-val="true" name="ProductName" type="text">
			</th>
			<th class="findid-box">
				@Html.LabelFor(model => model.ProductPrice, new { name = "ProductPrice" })
				<input class="form-control text-box single-line search findid-box" data-val="true" name="ProductPrice" type="number">
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="pagesdata">
		@Html.Action("PagesData", Model)
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				@Html.Action("ShowPager", Model)
			</td>
		</tr>
	</tfoot>
</table>
@section scripts{
	<script src="~/Scripts/page.js"></script>
}