@model IEnumerable<Techbart.DB.Image>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ImageId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ImageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5">
            Could not found any data
        </td>
    </tr>
}

