@model IEnumerable<Techbart.DB.Product>

@{
    var searchProduct = (Techbart.DB.SearchProductModel)ViewBag.SearchProductModel;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }
    <tr>
        <td colspan="5">
            <ul class="pages">
                @for (int i = 1; i <= ViewBag.PagesCount; i++)
                {

                    <li>
                        @if (searchProduct.Page == i)
                        {
                            @Ajax.ActionLink(i.ToString(), "PagesData", new
                       {
                           page = i,
                           rows = searchProduct.Rows,
                           CustomerId = searchProduct.ProductId,
                           FirstName = searchProduct.ProductName,
                           LastName = searchProduct.ProductPrice,
                       }, new AjaxOptions
                       {
                           UpdateTargetId = "pagesdata"
                       }, new { @class = "active" })
                        }
                        else
                        {
                            @Ajax.ActionLink(i.ToString(), "PagesData", new
					   {
						   page = i,
						   rows = searchProduct.Rows,
						   CustomerId = searchProduct.ProductId,
						   FirstName = searchProduct.ProductName,
						   LastName = searchProduct.ProductPrice
					   }, new AjaxOptions
					   {
						   UpdateTargetId = "pagesdata"
					   })
                        }
                    </li>
                }
            </ul>
        </td>
    </tr>
}
else
{
    <tr>
        <td colspan="5">
            Could not found any data
        </td>
    </tr>
}

