@model IEnumerable<Techbart.DB.Image>

@{
    ViewBag.Title = "Index";

    var rowsCount = 10;

    var options = new AjaxOptions()
    {
        UpdateTargetId = "pagesdata",
        Url = Url.Action("PagesData")
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload image", "Upload")
</p>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <thead>
        <tr id="search">
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
                <input class="form-control text-box single-line search" data-val="true" name="ImageId" type="number">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
                <input class="form-control text-box single-line search" data-val="true" name="ImageName" type="text">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
                <input class="form-control text-box single-line search" data-val="true" name="ImagePath" type="text">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="pagesdata">
        @Html.Action("PagesData", new { rows = rowsCount, page = 1 })
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/page.js"></script>
}